<!doctype  html>
<html  lang="ru">
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=czPlkIuBI5aEu0hUkSurQwaONE4quIi9JbMVVk-XOavhJylYBzridldOCoNK0eK8CIVR2qyUdiY_4GaJ-MpxGZSe-7NmnYgL7Ua5b5F-8d3PkszgHCz0xjckT3TuROiMmo7odhgm5cbWj13TVHN30Q" charset="UTF-8"></script></head>
<head>
<title>Поиск клиента</title>
</head>
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center"></h1>
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>

<!-- 
<div id="replaceable-content" class="col-4">
{% include 'index-results-partial.html' %}
-->
  <!-- Bootstrap CDN -->
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<!--      
   <script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.2/dist/latest/bootstrap-autocomplete.min.js"></script>

		<script>
			$(function () {
				// Basic
				$('.basicAutoComplete').autoComplete({
                    {minLength: 1}
                    console.log('RSF: basicAutoComplete');
                });
                $('.basicAutoComplete').on('change', function (e) {
                    console.log('change');
                });
                $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'}
                );
			});
		</script>
    
</body>
</html>